.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.linkA{
    margin: 20px;
    color: #210440;
    text-decoration: none;
    background-color: #ffba00;
    padding: 2px 10px 3px 10px;
    border: 1px solid ;
    border-radius: 50px;
}

.linkA:hover{
    transform: scale(1.1);
}

.linkB{
    margin: 20px;
    color: #fff0eb;
    text-decoration: none;
    background-color: #028ba3;
    padding: 2px 10px 3px 10px;
    border: 1px solid #050505;
    border-radius: 50px;
}

.linkB:hover{
    transform: scale(1.1);
}
