.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.auth__form > label, input{
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.auth__form > label {
  font-size: 1.1em;
  letter-spacing: 2px;
  margin: 10px;
}

.auth__form > input {
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 2em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-submit-btn {
  background: #ffba00;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  width: 45%;
  margin: 1.5rem;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login-submit-btn:hover {
  box-shadow: none;
}